.DS_Store

.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

src/main/webapp/js/app.bundle.js
src/main/webapp/js/app.bundle.js.map

tags*

dest/
.idea/

/lab4/bin
/lab4/.settings
/lab4/.classpath
/lab4/.project

/lab5/bin
/lab5/.settings
/lab5/.classpath
/lab5/.project

/homework2/bin
/homework2/.settings
/homework2/.classpath
/homework2/.project
