.header {
    background: url(titleBackground.png);
    color: whitesmoke;
    padding: 10px;
    border-bottom: 1spx solid rgb(170, 54, 151);
}

.gameTitle {
    font-size: 25px;
    padding: 10px;
    border-right: 2px solid rgb(170, 54, 151);
    width: fit-content;
}

.terminal {
	border: 2px solid grey;
	color: white;
	background-color: black;
    width: 100%;
    max-height: 150px;
    overflow-y: scroll;

}

.coinPouchRow, .generatorRow, .titleRow, .purchaseRow {
    /* rows */
	display: flex;  
    flex-direction: row;
    align-content: center;
}
    .coinPouchRow {
        margin-bottom: 1em;
        margin-top: 1em;
    }

        .coinPouch {
            padding: 1em;
        }

    .generatorBox {
        display: flex;
        flex-direction: column;
        border: 2px solid rgb(71, 71, 70);
        padding: 1em;
        margin: 1rem;
    }

        .titleRow {
            justify-content: space-between;
            text-align: center;
        }
        /* .description {
            
        } */

        .purchaseRow {
            justify-content: space-between;
        }

            .rate {
                font-size: 1rem;
            }

.footer {
    border-top: 2px solid rgb(71, 71, 70)   ;
    padding: 2em;
    margin-top: 2em;
    text-align: center;
}


.content {
    display: flex;  
    flex-direction: column;
    align-content: center;
    font-size: 1.8rem;
    line-height: 1.618;
    max-width: 55em;
    margin: auto;
    margin-top: 1rem;
    color: #4a4a4a;
    background-color: #f9f9f9;
    padding: 1.3rem;
    border-left: 2px solid rgb(71, 71, 70);
    border-right: 2px solid rgb(71, 71, 70);
}

body {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    font-size: 62.5%;
    font-family: Avenir Next,Helvetica,Arial,Sans-Serif;
}